body{
    color: white;
    background-color: #00001f;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;   
}

.txtPrincipal{
    background: linear-gradient(0.9turn, #fcfcfc, rgb(255, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttonAll{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-color: white;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
}

.buttonAll:hover{
    box-shadow: 0 0 10px 0px greenyellow;
    background-color: #00001f;
}

a:link{
    text-decoration: none;
}
